<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="index-style.css" type="text/css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-animate.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-cookies.min.js"></script>
    <title>Index</title>
</head>

<body class="connectBody" ng-app="indexApp" ng-controller="indexCtrl">
<script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
<script src="/socket.io/socket.io.js"></script>
<script>var socket = io('http://localhost:8080');</script>
<script type="text/javascript" src="index-script.js"></script>
<h1 class="grey-text text-lighten-4" ng-show="model.isLogIn">Merci de vous connecter avant de pouvoir accéder à votre
    Dashboard</h1>
<h1 class="grey-text text-lighten-4" ng-show="!model.isLogIn">Merci de vous inscrire avant de pouvoir utiliser à votre
    Dashboard</h1>
<form class="center-align" name="ConnexionForm">
    <div class="row white-text">
        <div class="input-field">
            <label for="username" class="white-text">Nom d'utilisateur : </label>
            <input type="text" name="username" class="validate" ng-model="model.username" required>
        </div>
        <div class="input-field">
            <label for="password" class="white-text">Mot de passe : </label>
            <input type="password" name="password" ng-model="model.password" required>
        </div>
        <div class="input-field animate-if" ng-if="!model.isLogIn">
            <label for="passwordConfirm" class="white-text">Confirmez le mot de passe : </label>
            <input type="password" name="passwordConfirm" ng-model="model.passwordConfirm" required>
        </div>
        <span class="errorMsg" ng-show="!model.isLogIn && (model.password != model.passwordConfirm)">Les 2 mots de passe doivent être identiques<br></span>
        <input type="submit" value="Connexion" class="black-text" ng-show="model.isLogIn" ng-click="submitLogIn()">
        <input type="submit" value="Inscription" class="black-text" ng-show="!model.isLogIn" ng-click="submitSignIn()">
    </div>

</form>
<hr>
<p class="toRight white-text" ng-show="model.isLogIn">Vous ne possédez pas de compte ?
    <button class="black-text" ng-click="switchLogInSignIn()">Inscrivez vous</button>
</p>
<p class="toRight white-text" ng-show="!model.isLogIn">Vous possédez un compte ?
    <button class="black-text" ng-click="switchLogInSignIn()">Connectez vous</button>
</p>
</body>

</html>
